@charset "UTF-8";

.hidden {
  display: none;
}

#content-root {
  display: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.row.center-align-vertical {
  display: flex;
  align-items: center;
}

.custom-toolbar {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 70px;
}

.header-title {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-title-a {
  font-size: 20px;
}

#header-title-b {
  font-size: clamp(12px, 3vw, 20px);
}

.custom-content {
  width: 100%;
}

.custom-content-bp {
  width: 500px;
  max-width: 100%;
}

.number_input_label {
  white-space: nowrap;
}

#group-label {
  font-size: 1.2em;
}

.collection-header {
  color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.scroll-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.ranking-cell {
  min-width: 33%;
  flex-shrink: 0;
}

.rankcell-root {
  height: 36px;
}

.rankcell-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.rankcell-rank {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  width: 20px;
}

.rankcell-world {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  width: 30px;
}

.rankcell-guildname {
  color: black;
  font-size: 0.9em;
  width: 140px;
}

.rankcell-bp {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-align: right;
  margin-left: auto;
  font-weight: bold;
}

#explain {
  padding: 24px;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  #explain {
    font-size: 1.4em;
  }
}

.explain-red-text {
  color: #cc0000;
  font-size: 1em;
  font-weight: bold;
}

.explain-green-text {
  color: #009900;
  font-size: 1em;
  font-weight: bold;
}

#content-links {
  margin-top: 60px;
  margin-bottom: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.youtube-iframe {
  width: 90%;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 20px auto 40px auto;
}

@media (min-width: 768px) {
  .youtube-iframe {
    width: 50%;
  }
}

.section-title {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
