body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.row.center-align-vertical {
  display: flex;
  align-items: center;
}

.custom-header {
  background-color: #bfbfbf;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-footer {
  background-color: #bfbfbf;
  width: 100%;
  height: 200px;
}

.custom-content {
  width: 100%;
}

.brand-logo-text {
  color: #000000;
  white-space: nowrap;
}

.number_input_label {
  white-space: nowrap;
}

#group-label {
  font-size: 1.2em;
}

.collection-header {
  color: green;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.scroll-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.ranking-cell {
  min-width: 33%;
  flex-shrink: 0;
}

.rankcell-root {
  height: 36px;
}

.rankcell-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.rankcell-rank {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  width: 20px;
}

.rankcell-world {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  width: 30px;
}

.rankcell-guildname {
  color: black;
  font-size: 0.9em;
  width: 140px;
}

.rankcell-bp {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0em;
  text-align: right;
  margin-left: auto;
  font-weight: bold;
}

#explain {
  margin-top: 60px;
  margin-bottom: 60px;
}
