.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  margin: 4px auto 0 auto;

  border-bottom: 2px solid #333;

  .headerTitleRoot {
    width: calc(100% - 120px);
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--text-x);
  }

  .headerTitle {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02rem;
    overflow: hidden;
    white-space: nowrap;
  }
}
