.playerBpRankingFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 0px 20px 10px 20px;

  & input:disabled,
  & select:disabled {
    color: #ccc;
    -webkit-text-fill-color: #aaa;
  }

  & input {
    color: var(--text-h);
  }
}

.filterTitle {
  max-width: 20px;
  font-size: 0.8rem;
}

.regionSelector {
  min-width: 70px;
}

.worldNumberInput::placeholder {
  font-size: 0.7rem;
}

.guildNameInput::placeholder {
  font-size: 0.7rem;
}
